<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Filtros</h6>
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">Por ano</label>
                                <input class="form-control" formControlName="year" mask="0000"
                                       placeholder="Exemplo: 2022"
                                       type="text">
                                <app-messages-control-validations
                                        [control]="form.get('year')"></app-messages-control-validations>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">Por vencedor</label>
                                <select class="form-select" formControlName="winner" id="winner">
                                    <option disabled selected>Selecione uma opção</option>
                                    <option value="2">N/A</option>
                                    <option value="1">SIM</option>
                                    <option value="0">NÃO</option>
                                </select>
                                <app-messages-control-validations
                                        [control]="form.get('winner')"></app-messages-control-validations>
                            </div>
                        </div>
                    </div>
                </form>
                <button (click)="filter()" [disabled]="!form.valid" class="btn btn-primary btn-icon-text" type="button">
                    <i class="btn-icon-prepend" data-feather="filter"></i>
                    Filtrar
                </button>
                &nbsp;
                <button (click)="clearFormResetMovie()" class="btn btn-secondary btn-icon-text" type="button">
                    Limpar Filtro
                </button>
            </div>
        </div>
    </div>
</div>
<div [hidden]="!init" class="card-body">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Ano</th>
                <th>Titulo</th>
                <th>Vencedor</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            <tr [hidden]="lisMovies.length">
                <th colspan="5">
                    <div class="alert alert-primary" role="alert">
                        {{loading ? 'Carregando...' : ' Não encontramos item(ns) que atenda(m) seu filtro.'}}
                    </div>
                </th>
            </tr>
            <tr *ngFor="let winer of lisMovies; let i = index">
                <th>{{winer?.id}}</th>
                <th>{{winer?.year}}</th>
                <th>{{winer?.title}}</th>
                <th>{{winer?.winner ? 'SIM' : 'NÃO'}}</th>
                <th>
                    <button class="btn btn-light" data-bs-target="#yearModal" data-bs-toggle="modal" type="button">
                        Visualizar
                    </button>
                </th>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Pages of Movies">
            <ul class="pagination justify-content-end">
                <li class="page-item">
                    <div class="forPage">
                        <form [formGroup]="form">
                            <select class="form-select" formControlName="forPage" id="forPage">
                                <option disabled selected>Itens por página</option>
                                <option value="1">1</option>
                                <option value="3">3</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="99">99</option>
                            </select>
                            <app-messages-control-validations
                                    [control]="form.get('forPage')"></app-messages-control-validations>
                        </form>
                    </div>
                </li>
                <li class="page-item">
                    <a (click)="backPage()" class="page-link">
                        <i data-feather="chevron-left"></i>
                    </a>
                </li>
                <li *ngFor="let item of [].constructor(pagination.totalElements <= 5 ? pagination.totalElements : 5); let i = index"
                    [ngClass]="{active: i === pagination.number - 1}"
                    class="page-item">
                    <a (click)="fetchMovies(i+1)" class="page-link">{{i + 1}}</a>
                </li>
                <li *ngIf="pagination.number > 5" class="page-item active">
                    <a class="page-link">{{pagination.number}}</a>
                </li>
                <li class="page-item"><a (click)="nextPage()" class="page-link">
                    <i data-feather="chevron-right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div *ngIf="lisMovies.length" aria-hidden="true" aria-labelledby="winnerModal" class="modal fade" id="yearModal"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="winnerModal">
                    {{lisMovies[0].title}}
                </h5>
                <button aria-label="btn-close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <h5>Studios:</h5>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let item of lisMovies[0]?.studios" class="list-group-item">
                        {{item}}
                    </li>
                </ul>
                <h5>Prudutores:</h5>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let item of lisMovies[0]?.producers" class="list-group-item">
                        {{item}}
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Fechar</button>
            </div>
        </div>
    </div>
</div>
