<div class="main-wrapper">
    <app-navbar></app-navbar>
    <div class="page-wrapper">
        <div class="page-content">
            <h4 class="text-muted mb-3">Prêmio cinematográfico humorístico dos Estados Unidos</h4>
            <nav class="page-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        Pior Filme do <a href="https://en.wikipedia.org/wiki/Golden_Raspberry_Awards" target="_blank">Golden
                        Raspberry Awards</a>
                    </li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <app-years-withmultiple-winners></app-years-withmultiple-winners>
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                    <app-top-studios-with-winners></app-top-studios-with-winners>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <app-max-min-interval-between-wins></app-max-min-interval-between-wins>
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                    <app-movies-winners-by-year></app-movies-winners-by-year>
                </div>
            </div>
        </div>
    </div>
</div>
