<div class="horizontal-menu">
    <nav class="navbar top-navbar">
        <div class="container">
            <div class="navbar-content ht-100">
                <a class="navbar-brand" href="javascript:void(0);" routerLink="/">
                    <img alt="Texo IT" src="./assets/images/logo_texosite.png">
                </a>
            </div>
        </div>
    </nav>
    <nav class="bottom-navbar">
        <div class="container">
            <ul class="nav page-navigation">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="javascript:void(0);" routerLink="/dashboard">
                        <i class="link-icon" data-feather="play-circle"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="javascript:void(0);" routerLink="/movies">
                        <i class="link-icon" data-feather="airplay"></i>
                        <span class="menu-title">Filmes</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="javascript:void(0);" routerLink="/github">
                        <i class="link-icon" data-feather="github"></i>
                        <span class="menu-title">Github</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
