<div class="horizontal-menu">
    <nav class="navbar top-navbar">
        <div class="container">
            <div class="navbar-content">
                <a href="#" class="navbar-brand">
                    TEXO<span> IT</span>
                </a>
                <form class="search-form">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i data-feather="search"></i>
                        </div>
                        <input type="text" class="form-control" id="navbarForm" placeholder="Procure aqui...">
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <nav class="bottom-navbar">
        <div class="container">
            <ul class="nav page-navigation">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="javascript:void(0);">
                        <i class="link-icon" data-feather="play-circle"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="javascript:void(0);" routerLink="/movies">
                        <i class="link-icon" data-feather="airplay"></i>
                        <span class="menu-title">Filmes</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
