<div class="card">
    <div class="card-body">
        <h6 class="card-title">LISTAR VENCEDORES DE FILMES POR ANO</h6>
        <p class="text-muted mb-3">Pesquisar por ano</p>
        <form [formGroup]="form" class="search-form">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" formControlName="year" mask="0000"
                           placeholder="Busque por uma data. Exemplo: 2022"
                           type="text">
                    <button (click)="fetchItemsByYear()" [disabled]="!form.valid" class="btn btn-primary btn-icon"
                            type="button">
                        <i data-feather="search"></i>
                    </button>
                </div>
                <app-messages-control-validations [control]="form.get('year')"></app-messages-control-validations>
            </div>
        </form>
    </div>
</div>
<div [hidden]="!init" class="card-body">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Ano</th>
                <th>Titulo</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            <tr [hidden]="winerByYear.length">
                <th colspan="4">
                    <div class="alert alert-primary" role="alert">
                        {{loading ? 'Carregando' : ' Não encontramos item(ns) que atenda(m) a sua consulta.'}}
                    </div>
                </th>
            </tr>
            <tr *ngFor="let winer of winerByYear; let i = index">
                <th>{{winer?.id}}</th>
                <th>{{winer?.year}}</th>
                <th>{{winer?.title}}</th>
                <th>
                    <button class="btn btn-primary" data-bs-target="#yearModal" data-bs-toggle="modal" type="button">
                        Visualizar
                    </button>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="winerByYear.length" aria-hidden="true" aria-labelledby="winnerModal" class="modal fade" id="yearModal"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="winnerModal">
                    {{winerByYear[0].title}}
                </h5>
                <button aria-label="btn-close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <h5>Studios:</h5>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let item of winerByYear[0]?.studios" class="list-group-item">
                        {{item}}
                    </li>
                </ul>
                <h5>Prudutores:</h5>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let item of winerByYear[0]?.producers" class="list-group-item">
                        {{item}}
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Fechar</button>
            </div>
        </div>
    </div>
</div>
