<div class="main-wrapper">
    <app-navbar></app-navbar>
    <div class="page-wrapper">
        <div class="page-content">
            <h4 class="text-muted mb-3">Prêmio cinematográfico humorístico dos Estados Unidos</h4>
            <nav class="page-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        Pior Filme do <a href="https://en.wikipedia.org/wiki/Golden_Raspberry_Awards" target="_blank">Golden
                        Raspberry Awards</a>
                    </li>
                </ol>
            </nav>
            <div class="row">
                <a href="https://github.com/JeanPaulll/test-for-developer-vacancy-at-texo-it" target="_blank">@JeanPaulll - Test for developer - www.texoit.com</a>
            </div>
        </div>
    </div>
</div>
